$f-color: #333;
$b-color: #fff;

.faq-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;

  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .toggle-display {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    button {
      padding: 1rem 2rem;
      background-color: $f-color;
      color: $b-color;
      border: none;
      border-radius: 2rem;
      cursor: pointer;
      font-size: 1.2rem;
      transition: all 0.3s ease;
    }
  }

  .display-area {
    overflow: hidden;

    &.open {
      height: auto;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  .faq-item {
    margin-bottom: 0.6rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 1s ease;
    background-color: #303030;

    .faq-question {
      display: flex;
      justify-content: space-between;

      .faq-button {
        background-color: inherit;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 37px;
        display: flex;
        justify-self: center;
        align-items: center;
      }

      h3 {
        margin: 0;
        font-size: 35px;
        font-weight: 400;
      }

      .arrow {
        font-size: 1.2rem;
        transition: all 0.3s ease;

        &.up {
          transform: rotate(180deg);
        }
      }
    }

    .faq-answer {
      margin-top: 2rem;
      font-size: 30px;
      border-top: 3px solid black;
      height: 100%;
      position: relative;
      padding: 20px 0;
    }
  }

  @media only screen and (max-width: 768px) {
    .faq-container {
      width: 90%;
    }

    h1 {
      font-size: 2rem;
    }

    .faq-item {
      .faq-question {
        .faq-button {
          font-size: 25px;
        }

        h3 {
          font-size: 25px;
        }
      }

      .faq-answer {
        font-size: 20px;
      }
    }
  }
}
